// @font-size: 50px;
body {
  padding: 0;
  margin: 0;
  font-family: 'Mitr', sans-serif
}

.side-menu {
  cursor: pointer;
  color: #2e2e2e;
  font-weight: normal;
  padding-right: 10px;
  float: right;
}

.root {
  flex-grow: 1;
}

.appbarStyle {
  background: rgba(255, 255, 255, 0.3)
}

.test {
  font-size: 50px;
  color: green
}
