// @font-size: 50px;
@import './node_modules/react-alice-carousel/lib/scss/alice-carousel.scss';
body {
  padding: 0;
  margin: 0;
  font-family: 'Mitr', sans-serif;
}

p,
a,
span,
h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-family: 'Mitr', 'sans-serif' !important;
}

.root {
  flex-grow: 1;
}

.appbarStyle {
  background: rgba(255, 255, 255, 0.3);
}

.css-12cu7dz-wrapper-wrapper {
  margin: auto;
}

.search {
  width: '100%';
  height: '100px';
  background: '#48BFA3';
}

.im-profile {
  width: 180px;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
}
